<h1>Frutas</h1>

{{#each .}}
<div>
    <img src="{{picture}}" alt=" manzana" height="300px">
</div>
<h3>Nombre: {{name}}</h3>
<br>
<h3>Descripción</h3>
<p>{{description}}</p>
<br>
<h3>Precio: {{price}}</h3>
<br>
{{/each}}