<h1>Categorías</h1>

<a href="/frutas" class="btn btn-primary">Frutas</a>
<a href="/carne" class="btn btn-primary">Carne</a>
<a href="/galletas" class="btn btn-primary">Galletas</a>
<a href="/pizza" class="btn btn-primary">Pizza</a>
<a href="/chocolate" class="btn btn-primary">Chocolate</a>
<a href="/verdura" class="btn btn-primary">Verdura</a>